include ./lib/header.jade
    title 个人中心
    script(language="javascript",src="/static/js/portal/personalspace.js")
    link(href="/static/css/portal/personalspace.css",rel="stylesheet",type="text/css")
body(ng-controller="personalspaceCtrl",ng-cloak)
    include ./lib/alert.jade
    section#index-view(ng-if="type=='1'")
        section.banner
            div.avatar(style="background-image:url('{{ person.avatar }}')")
                div.vipIcon1(ng-if="vipType==1")=""
                div.vipIcon2(ng-if="vipType==2")=""
                div.vipIcon3(ng-if="vipType==3")=""
                div.vipIcon4(ng-if="vipType==4")=""
                div.vipIcon5(ng-if="vipType==5")=""
            div.name {{ person.name }}
                span.sex-f(ng-show="person.sex == '1'")
                span.sex-m(ng-show="person.sex == '0'")
            div.button-line(ng-cloak)
                button#order-button(ng-click="goMyOrdered()")
                    i#order-button-icon=""
                    span 我的预约
                    span {{ person.ordered }}
                    i#new(ng-show="person.ordered_new == 1")
                    i.go-right=""
                button#shop(ng-click="go('shop')")
                    i#shop-button-icon=""
                    span 积分商城
                    span {{ person.score }}
                    i.go-right=""
        section.blank
            div.opt(ng-click="goMyFocus()")
                span 我的关注
                span#focus-num {{ person.focusNum }}
                i.go-right=""
            div.opt(ng-click="go('coachapply')")
                span 成为教练
                i.go-right=""
    section#second-view(ng-if="type=='2'",ng-show="details==false")
        section.banner
            div.avatar(style="background-image:url('{{ person.avatar }}')")
                div.vipIcon1(ng-if="vipType==1")=""
                div.vipIcon2(ng-if="vipType==2")=""
                div.vipIcon3(ng-if="vipType==3")=""
                div.vipIcon4(ng-if="vipType==4")=""
                div.vipIcon5(ng-if="vipType==5")=""
            div.name {{ person.name }}
                span.sex-f(ng-show="person.sex == '1'")
                span.sex-m(ng-show="person.sex == '0'")
            div.button-line
                div.tags    
                    span(ng-repeat="skill in skills") {{ skill.display }} 
                button#focus(ng-if="focus == false && self == false",ng-click="focusOn()")
                    span + 加关注
                    i.go-right=""
                button#focus(ng-if="focus == true && self == false")
                    span 已关注
                    i.go-right=""
                button#focus(ng-if="self == true",ng-click="goFocusMe()")
                    span 关注我的 
                    i.go-right=""
                button#sendMessage(ng-if="self == true",ng-click="editMyProfile()")
                    span 我的档案 
                    i.go-right=""
        section.blank
            div#hiscourse(ng-if="self == false && (person.sex == '1' || person.sex == '0')",ng-click="goCoach()")
                i#course=""
                span.title 他的课程
            div#hiscourse(ng-if="self == false && person.sex == '2'",ng-click="goCoach()")
                i#course=""
                span.title 她的课程
            div#hiscourse(ng-if="self == true",ng-click="goControl()")
                i#course=""
                span.title 我的课程
                i.go-right
            div#show
                div.title
                    i#show-icon=""
                    span 风采展示
                div.image-area.swiper-container(move)
                    div.pic-wrap.swiper-wrapper
                        div.pic.swiper-slide(ng-repeat="i in person.pic",style="background-image:url('{{ i.res_url }}')",ng-click="showDetails($index)")
            div.desc
                div.title
                    i#desc-icon=""
                    span 个人简介
                div.desc-inner {{ person.desc }}
            div.prize
                div.title
                    i#prize-icon=""
                    span 获奖经历
                div.prize-inner
                    div.prize-detail {{ person.prize }}
            div.video
                video(ng-src="{{ person.video }}",poster="/static/image/video.jpg",controls="controls", webkit-playsinline,height="250px")
    div.image-details-background(ng-show="details==true",ng-click="hideDetails()")
        div.image-slide.swiper-container(move)
            div.swiper-wrapper
                div.image.swiper-slide(ng-repeat="i in person.pic",style="background-image:url({{ i.res_url }})")
            div.swiper-pagination=""
