include ./lib/header.jade
    title 个人中心
    link(href="/static/css/portal/personalspace.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/portal/personalspace.js")
body(ng-controller="personalspaceCtrl")
    section#index-view(ng-if="type=='1'")
        section.banner
            div.avatar(style="background-image:url('{{ person.avatar }}')")
            div.name {{ person.name }}
                span.sex-f(ng-show="person.sex == '1'")
                span.sex-m(ng-show="person.sex == '0'")
            div.button-line
                button#order-button
                    i#order-button-icon=""
                    span 预约课程
                    span {{ person.ordered }}
                    i#new(ng-show="person.ordered_new == 1")
                    i.go-right=""
                button#shop
                    i#shop-button-icon=""
                    span 积分商城
                    span {{ person.score }}
                    i.go-right=""
        section.blank
            div.opt
                span 我的关注
                span#focus-num {{ person.focusNum }}
                i.go-right=""
            div.opt(ng-click="go('coachapply')")
                span 成为教练
                i.go-right=""
    section#second-view(ng-if="type=='2'")
        section.banner
            div.avatar(style="background-image:url('{{ person.avatar }}')")
            div.name {{ person.name }}
                span.sex-f(ng-show="person.sex == '1'")
                span.sex-m(ng-show="person.sex == '0'")
            div.button-line
                div.tags    
                    span 健身 
                button#focus
                    span(ng-show="focus == false") + 加关注
                    span(ng-show="focus == true") 已关注
                    i.go-right=""
                button#sendMessage
                    span 私信 
                    i.go-right=""
        section.blank
            div#hiscourse
                i#course=""
                span.title(ng-if="person.sex == '1'",ng-click="goCoach()") 他的课程
                span.title(ng-if="person.sex == '0'",ng-click="goCoach()") 她的课程
                i.go-right
            div#show
                div.title
                    i#show-icon=""
                    span 风采展示
                div.image-area.swiper-container(move)
                    div.pic-wrap.swiper-wrapper
                        div.pic.swiper-slide(ng-repeat="i in person.pic",style="background-image:url('{{ i.res_url }}')")
            div.desc
                div.title
                    i#desc-icon=""
                    span 个人简介
                div.desc-inner {{ person.desc }}
            div.prize
                div.title
                    i#prize-icon=""
                    span 获奖经历
                div.prize-inner
                    div.prize-detail {{ person.prize }}
            div.video
                video(ng-src="{{ person.video }}",controls="controls", webkit-playsinline)
                div.video-desc {{ person.videoDesc }}
                        
